<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Roboto:wght@700&display=swap" rel="stylesheet">

<div class="main">
  <div class="container">

    <!-- leftColumn -->
    <div class="leftColumn__container">
      <div class="leftColumn__logo">
        <img src="../assets/logo.svg">
      </div>
      <ul class="leftColumn__musicList">
        <li class="leftColumn__music">
          <a target="_blank" rel="noopener noreferrer" href="https://music.apple.com/jp/album/1562256873?uo=4&app=music&at=1000lNKS&lId=22956308&cId=none&sr=1&src=Linkfire&itscg=30440&itsct=catchall_p1&ct=LFV_e97f6d7722dee6a265648a49643643c8&ls=1" >
            Apple Music
          </a>
        </li>
        <li class="leftColumn__music">
          <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/album/4b4nwACrmaYoBMgiE5VkDF">
            Spotify
          </a>
        </li>
        <li class="leftColumn__music">
          <a target="_blank" rel="noopener noreferrer" href="https://music.amazon.co.jp/albums/B0923RZDJM?ref=dm_ff_linkfire&tag=universmusicc-22&ie=UTF8&linkCode=as2&ascsubtag=e97f6d7722dee6a265648a49643643c8">
            Amazon Music
          </a>
        </li>
        <li class="leftColumn__music">
          <a target="_blank" rel="noopener noreferrer" href="https://music.youtube.com/playlist?list=OLAK5uy_mC3oQ-hlNynaeNRu_KPcNSW1o54jjcnh8">
            YouTube Music
          </a>
        </li>
      </ul>
    </div>

    <!-- rightColumn -->
    <div class="rightColumn__container">
      <div class="rightColumn__tworay">
        <img src="../assets/tworay.jpg">
      </div>
      <p class="rightColumn__copyright">Copyright © All rights reserved.</p>
      <ul class="rightColumn__sns">
        <li class="rightColumn__twitter">
          <a href="https://twitter.com/tworay_info" target="_blank" rel="noopener noreferrer">
            <img src="../assets/twitter.svg">
          </a>
        </li>
        <li class="rightColumn__insta">
          <a href="https://www.instagram.com/tworay_info" target="_blank" rel="noopener noreferrer">
            <img src="../assets/insta.svg">
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>