<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="main">
  <div class="container">

    <!-- leftColumn -->
    <div class="leftColumn__container">
      <div class="leftColumn__logo">
        <img src="../assets/logo.svg" oncontextmenu="return false;">
      </div>
      <ul class="leftColumn__musicList">
        <li class="leftColumn__music">
          <a target="_blank" rel="noopener noreferrer" href="https://music.apple.com/jp/artist/tworay/1292071400" >
            Apple Music
          </a>
        </li>
        <li class="leftColumn__music">
          <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/track/2RnRBlBnJIBzqoWCNBApYe?si=da644d1131b54ee1">
            Spotify
          </a>
        </li>
        <li class="leftColumn__music">
          <a target="_blank" rel="noopener noreferrer" href="https://music.amazon.co.jp/artists/B0762PM37T?ref=dm_sh_UBS5z8Tamg0Mjawh4gAxKeKbJ">
            Amazon Music
          </a>
        </li>
        <li class="leftColumn__music">
          <a target="_blank" rel="noopener noreferrer" href="https://music.youtube.com/watch?v=3f9sEMTj2qM&feature=share">
            YouTube Music
          </a>
        </li>
      </ul>
    </div>

    <!-- rightColumn -->
    <div class="rightColumn__container">
      <div class="rightColumn__tworay">
        <img class="img-blur" src="../assets/blur-tworay.jpg" oncontextmenu="return false;"/>
        <img class="-lazy" [lazyLoad]="image" oncontextmenu="return false;"/>
      </div>
      <p class="rightColumn__copyright">Copyright © All rights reserved.</p>
      <ul class="rightColumn__sns">
        <li class="rightColumn__twitter">
          <a href="https://twitter.com/tworay_info" target="_blank" rel="noopener noreferrer">
            <img src="../assets/twitter.svg">
          </a>
        </li>
        <li class="rightColumn__insta">
          <a href="https://www.instagram.com/tworay_info" target="_blank" rel="noopener noreferrer">
            <img src="../assets/insta.svg">
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>